FRONTMIND_DASHBOARD_ENV_FILE=/etc/frontmind/dashboard.env
FRONTMIND_DASHBOARD_READINESS_ENV_FILE=/etc/frontmind/dashboard-readiness.env
FRONTMIND_DASHBOARD_MIGRATOR_ENV_FILE=/etc/frontmind/dashboard-migrator.env
FRONTMIND_DASHBOARD_HOST_PORT=3001
FRONTMIND_PREPARED_FILE_DIR_HOST=/var/lib/frontmind/prepared-files
FRONTMIND_DASHBOARD_ASSET_DIR_HOST=/var/lib/frontmind/dashboard-assets
FRONTMIND_APPLICATION_NETWORK=frontmind-applications
FRONTMIND_DATABASE_NETWORK=1panel-network
